@model Warehouse.Models.WareHouse
@{
    ViewData["Title"] = "Details";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>

<p>@Model.Id</p>
<p>@Model.Number</p>
<p>@Model.Address</p>