@model Warehouse.Models.WareHouse
@{
    ViewData["Title"] = "Edit";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<form asp-action="Edit" asp-controller="WareHouse" method="post" asp-antiforgery="true">
    <div>
        <input type="hidden" asp-for="IsActive"/>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Number">@SharedLocalizer.GetLocalizedHtmlString("NumberOfWarehouse")</label>
            <input type="text" asp-for="Number" class="form-control" />
            <span asp-validation-for="Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">@SharedLocalizer.GetLocalizedHtmlString("Address")</label>
            <input asp-for="Address" type="text" class="form-control" />
            <span asp-validation-for="Address"></span>
        </div>
        <div><input type="submit" value="Edit" class="btn btn-primary" /></div>
    </div>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}