@{
    ViewData["Title"] = "Home Page";
}
<h2 style="text-align: center;">Welcome to Warehouse!</h2>
<h4 style="text-align: center;width: 60%;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
<style>
    .body-content {
        height: 55%;
        display: flex;
        padding: 40px;
        margin-bottom: 5%;
        margin-top: 5%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>