
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
nav a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.navbar-nav > li > a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}
li a, footer a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
}
li a:hover {
    color: #948300;
}

nav a:hover {
    color: #948300;
}

.logOut {
    color: black;
}
footer a:hover {
    color: #948300;
    text-decoration: none;
}

body {
    overflow: auto;
    color: black;
    margin: 0px;
    padding: 0px;
    background-color: #ebeeef;
    font-family: 'Varela Round', sans-serif;
}

a {
    cursor: pointer;
    color:black;
    font-family: 'Varela Round', sans-serif;
}

.navImg {
    background-image: url(https://www.theaccessgroup.com/media/19709/2019_website_universalbanner_scs_delta-1.jpg);
}

.navShadow {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.footerik {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7% 15px 74px 15px;
}

.login100-form-title-1 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}

.chooseLanguage {
    display: flex;
    align-items: center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    min-height:50%;
    padding: 40px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*Forms Validation*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#close {
    margin-left: 50%;
}

.modal-footer-basket {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
/*Tag Select class*/
.SelectError {
    color: #b94a48;
}

.Disable {
    color: red;
}

.Enable {
    color: green;
}

.jconfirm .jconfirm-box.jconfirm-animation-news {
    transform: rotate(400deg) scale(0);
}

td > img {
    width: 100px;
    height: 100px;
}

#main {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,0%);
}

#img {
    width: 250px;
    position: relative;
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        top: 0px;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0px;
    }
}

#shadow1 {
    height: 10px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 70px;
    -webkit-filter: blur(20px);
    z-index: 99;
    animation: anim2 3s infinite;
}

@keyframes anim2 {
    0% {
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }

    50% {
        height: 3px;
        width: 150px;
        background-color: rgba(0,0,0,1);
    }

    100% {
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }
}

#shadow2 {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-filter: blur(10px);
    z-index: 999;
    animation: anim3 3s infinite;
}

@keyframes anim3 {
    0% {
        height: 4px;
        width: 130px;
        background-color: rgba(0,0,0,.1);
    }

    50% {
        height: 3px;
        width: 120px;
        background-color: rgba(0,0,0,.7);
    }

    100% {
        height: 4px;
        width: 130px;
        background-color: rgba(0,0,0,.1);
    }
}

#text {
    font-family: Gloss And Bloom;
    font-size: 120px;
    color: #292929;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #344a55;
    border-color: #344a55;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #948300;
    background-color: #eee;
    border-color: #ddd;
}
#register {
    background-color: #566d7a;
    color: white;
}
input[type=submit]:hover {
    background-color: #566d7a;
    color: white;
}
input[type=submit]{
    background-color: #566d7a;
    color: white;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #566d7a;
}
.pagination > li > a, .pagination > li > span {
    transition: all .3s linear;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 15px;
    color: #212529;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: all .2s linear;
    border-radius: .125rem;
    background-color: #566d7a;
    color: #fff;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #948300;
    transition: all .3s linear;
    border-radius: .125rem;
    background-color: #eee;
}

.navbar-toggle span{
    background-color:black;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue {
    background-color: red;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.chosen-container .chosen-results li.highlighted {
    background-color: red;
    
}
.imageSelect {
    display: flex;
    align-items: center;
}
#chosenFileName{
    font-weight:100;
}
#chosenFileNameBtn {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),to(#f4f4f4));
    background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    max-width: 8%;
    font-weight: 100;
    margin-right: 5px;
}
td,th {
    text-align: center
}
.showik {
    width: 75px;
    color: white;
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #ba68c8;
    display: inline;
}
.showik:hover {
    color:white;
}
.Added {
    background :#31b0d5c2;
}
.Added{
    font-size:10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}
.deleted {
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #ff3547;
    color:white;
}
.deleted:hover, .continue:hover, .added:hover, .showik:hover, .back:hover, .edited:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    outline: 0;
    color: white;
    text-decoration: none;
}
.edited {
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #33b5e5;
    color: white;
}
.btn:hover, .btn:focus, .btn.focus {
    color: white;
    text-decoration: none;
}
.logOut:hover {
    color: #948300;
    text-decoration: none;
}
.back {
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #1565c0;
    color: white;
}
.continue {
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #7300b0;
    color: white;
}
.Enable {
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #62da86;
    color: white;
}
.Disable {
    font-size: 10px;
    border-radius: 30px;
    background: #33b5e5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background: #ff6767;
    color: white;
}