
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
nav a {
    color: black;
    text-decoration: none;
}

li a, footer a {
    color: black;
    text-decoration: none;
}

li a:hover {
    color: #948300;
}

nav a:hover {
    color: #948300;
}

.logOut {
    color: black;
}

.logOut:hover {
    color: #948300;
    text-decoration: none;
}

footer a:hover {
    color: #948300;
    text-decoration: none;
}

body {
    overflow: auto;
    color: black;
    margin: 0px;
    padding: 0px;
    background-color: #ebeeef;
    font-family: 'Acme', sans-serif;
}

a {
    font-family: Poppins-Regular, sans-serif;
}

.navImg {
    background-image: url(https://www.theaccessgroup.com/media/19709/2019_website_universalbanner_scs_delta-1.jpg);
}

.navShadow {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.footerik {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 7% 15px 74px 15px;
}

.login100-form-title-1 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
}

.chooseLanguage {
    display: flex;
    align-items: center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height:50%;
    padding: 40px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*Forms Validation*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#close {
    margin-left: 50%;
}

.modal-footer-basket {
    display: flex;
    justify-content: space-between;
}
/*Tag Select class*/
.SelectError {
    color: #b94a48;
}

.Disable {
    color: red;
}

.Enable {
    color: green;
}

.jconfirm .jconfirm-box.jconfirm-animation-news {
    transform: rotate(400deg) scale(0);
}

td > img {
    width: 100px;
    height: 100px;
}

#main {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,0%);
}

#img {
    width: 250px;
    position: relative;
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        top: 0px;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0px;
    }
}

#shadow1 {
    height: 10px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 70px;
    -webkit-filter: blur(20px);
    z-index: 99;
    animation: anim2 3s infinite;
}

@keyframes anim2 {
    0% {
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }

    50% {
        height: 3px;
        width: 150px;
        background-color: rgba(0,0,0,1);
    }

    100% {
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }
}

#shadow2 {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-filter: blur(10px);
    z-index: 999;
    animation: anim3 3s infinite;
}

@keyframes anim3 {
    0% {
        height: 4px;
        width: 130px;
        background-color: rgba(0,0,0,.1);
    }

    50% {
        height: 3px;
        width: 120px;
        background-color: rgba(0,0,0,.7);
    }

    100% {
        height: 4px;
        width: 130px;
        background-color: rgba(0,0,0,.1);
    }
}

#text {
    font-family: Gloss And Bloom;
    font-size: 120px;
    color: #292929;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #344a55;
    border-color: #344a55;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #948300;
    background-color: #eee;
    border-color: #ddd;
}
input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100px;
    height: 41px;
    background-color: #344a55;
    border-radius: 5px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
input:hover {
    background-color: #566d7a;
    color: white;
}