
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0px;
    padding: 0px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*Forms Validation*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#close {
    margin-left: 50%;
}

.modal-footer-basket {
    display: flex;
    justify-content: space-between;
}
/*Tag Select class*/
.SelectError {
    color: #b94a48;
}
.Disable{
    color:red;
}
.Enable{
    color:green;
}

.jconfirm .jconfirm-box.jconfirm-animation-news {
    transform: rotate(400deg) scale(0);
}

td>img{
    width:100px;
    height:100px;
}
#main {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,0%);
}

#img {
    width: 250px;
    position: relative;
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        top: 0px;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0px;
    }
}

#shadow1 {
    height: 10px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 70px;
    -webkit-filter: blur(20px);
    z-index: 99;
    animation: anim2 3s infinite;
}

@keyframes anim2 {
    0% {
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }

    50% {
        height: 3px;
        width: 150px;
        background-color: rgba(0,0,0,1);
    }

    100% {
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }
}

#shadow2 {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-filter: blur(10px);
    z-index: 999;
    animation: anim3 3s infinite;
}

@keyframes anim3 {
    0% {
        height: 4px;
        width: 130px;
        background-color: rgba(0,0,0,.1);
    }

    50% {
        height: 3px;
        width: 120px;
        background-color: rgba(0,0,0,.7);
    }

    100% {
        height: 4px;
        width: 130px;
        background-color: rgba(0,0,0,.1);
    }
}

#text {
    font-family: Gloss And Bloom;
    font-size: 120px;
    color: #292929;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

