@model Warehouse.Models.Unit
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p>Hastat hse sta ozums jinjis? @Model.Name</p>
<p>Hastat hse sta ozums jinjis? @Html.DisplayFor(model => model.Name)/p>

<a asp-action="DeleteHa" asp-controller="Unit" asp-route-id="@Model.Id">Ha</a>
<a asp-action="Index" asp-controller="Unit">Gidumchum</a>