@model Warehouse.Models.Unit
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p>Are you sure to delete? @Model.Name</p>

<a asp-action="DeleteYes" asp-controller="Unit" asp-route-id="@Model.Id">Yes!</a>
<a asp-action="Index" asp-controller="Unit">No!</a>