
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p>Delete? </p>

<a asp-action="DeleteYes" asp-controller="Basket" asp-route-id="@Model.Id">Yes!</a>
<a asp-action="Index" asp-controller="Basket">No!</a>

