@model IEnumerable<Warehouse.Models.Basket>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model != null)
            {

                foreach (var pb in Model)
                {
                <tr>
                    <td>@pb.Product.Name</td>
                    <td>@pb.Count</td>
                    <td><a asp-action="Delete" asp-route-id="@pb.Id">Delete</a></td>
                </tr>
                }
            }
            else
            {
                <p>No products to show!</p>
            }

            }
    </tbody>
</table> 
   <a asp-controller="Order" asp-action="Add" asp-route-basketData="@Model"></a>

