@model Warehouse.Models.Basket
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var pb in Model.ProductBaskets)
            {
                <tr>
                    <td>@pb.Product.Name</td>
                    <td>@pb.Count</td>
                    <td><a asp-action="Delete" asp-route-id="@pb.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table> 
   <a asp-controller="Order" asp-action="Add" asp-route-basketData="@Model"></a>

