@model ProductType
@{
    ViewData["Title"] = "Details";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h1>@SharedLocalizer.GetLocalizedHtmlString("Details")</h1>
<p>@SharedLocalizer.GetLocalizedHtmlString("Name"): @Model.Name</p>
<a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("GoBack")</a>
