
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<ProductType>
<h2>Index</h2>
<a asp-action="Create">Create New</a>

<table class="table table-hover table-bordered">
    <thead class=" bg-primary">
        <tr>
            <th>Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var pt in Model)
        {
        <tr>
            <td>@pt.Name</td>
            <td><a asp-action="Edit" asp-route-id="@pt.Id">Edit</a></td>
        </tr>
        }
        </tbody>
</table>