@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    var date = DateTime.Now;
    var newDate = new DateTime(date.Year - 14, date.Month, date.Day).ToString("yyyy-MM-dd");
}
<div class="row">
    <div class="col-md-6">
        <form onsubmit="return StopUser()" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3>Create a new account.</h3>
            <hr />
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthdate"></label>
                <input asp-for="Input.Birthdate" value="@newDate" class="form-control" />
                <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>
            <div id="RoleDiv" class="form-group">
                <label asp-for="Input.Role"></label>
                <select id="Role" asp-for="Input.Role" class="form-control">
                    <option selected disabled value="">Select role</option>
                    <option class="houseRole">Worker</option>
                    <option class="houseRole">Storekeeper</option>
                    <option>Report</option>
                </select>
            </div>
            <div id="HouseDiv" class="form-group">
                <label asp-for="Input.WarehouseId"></label><br />
                <select id="House" asp-for="Input.WarehouseId" asp-items="@ViewBag.Warehouse">
                    <option selected disabled value="">Select warehouse</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link href="~/css/chosen.css" rel="stylesheet" />
    @*<link href="~/css/chosen.min.css" rel="stylesheet" />*@
    <script src="~/lib/jquery/dist/chosen.jquery.min.js"></script>
    <script>
        var roleIsReport = false;
        $(() => {
            $("#House").chosen({
                search_contains: true,
                width: "100%"
            });
            $("#Role").chosen({
                search_contains: true,
                width:"100%"
            });
        });
        $(() => {
            roleIsReport = false;
            $("#House").change(function () {
                HouseSpanDelete();
            })
            $("#Role").change(function () {
                let role = $("#Role").children("option:selected");
                if (!role.hasClass("houseRole")) {
                    roleIsReport = true;
                    HouseSpanDelete();
                }
                else {
                    roleIsReport = false;
                }
                RoleSpanDelete();
            });
        });
        //If role or warehouse not selected, stop request
        function StopUser() {
            if (HouseNotValid() | RoleNotValid()) {
                return false;
            }
        };
        //Validation messages delete
        function HouseSpanDelete() {
            $("#HouseDiv span.SelectError").remove();
        }
        function RoleSpanDelete() {
            $("#RoleDiv span.SelectError").remove();
        }

        //Role and Warehouse validation functions
        function RoleNotValid() {
            let role = $("#Role").children("option:selected");
            RoleSpanDelete();
            if (role.val() == "") {
                $("#RoleDiv").append("<span class='SelectError'>The role not selected</span>");
                return true;
            }
            return false;
        }
        function HouseNotValid() {
            let house = $("#House").children("option:selected");
            HouseSpanDelete();
            if (roleIsReport === true) {
                HouseSpanDelete();
                return false;
            }
            if (house.val() == "") {
                $("#HouseDiv").append("<span class='SelectError'>The warehouse not selected</span>")
                return true;
            }
            return false;
        }
    </script>
}
