@model IEnumerable<Warehouse.Models.WareHouse>
@{
    ViewData["Title"] = "WHList";
    Layout = null;
}

<form style="padding: 2% 10%;" method="post" asp-controller="Admin" asp-action="Move" asp-route-IdOfUser="@ViewBag.UserID">
    @foreach (var wh in Model)
    {
        <input class="radioWH" type="radio" name="id" value="@wh.Id" checked />
        <label>@wh.Number</label><br />
    }

    <input class=" btn submitWH" type="submit" />
</form>