
@{
    ViewData["Title"] = "Create";
}
@model ProductManager
@{
    var date = DateTime.Now.ToString("yyyy-MM-dd");
}
<h1>Create ProductManager</h1>
<form onsubmit="return Stop()" asp-action="Create" asp-antiforgery="true">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <div id="TypeDiv" class="form-group">
            <label>Product type</label>
            <select id="type" class="form-control" asp-items="ViewBag.ProductTypes">
                <option selected disabled value="">Select type...</option>
            </select>
        </div>
        <div id="NameDiv" class="form-group">
            <label asp-for="ProductId">Product name</label>
            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Products">
                <option value="">Select name...</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Count">Count</label>
            <input asp-for="Count" type="number" class="form-control" placeholder="0" min="0" />
            <span asp-validation-for="Count"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReceiptPrice">Receipt price</label>
            <input asp-for="ReceiptPrice" class="form-control" placeholder="0" />
            <span asp-validation-for="ReceiptPrice"></span>
        </div>
        <div class="form-group">
            <label asp-for="SalePrice">Sale price</label>
            <input asp-for="SalePrice" class="form-control" placeholder="0" />
            <span asp-validation-for="SalePrice"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReceiptDate">Receipt date</label>
            <input type="date" asp-for="ReceiptDate" value="@date" min="2000-01-01" max="@date" class="form-control" />
            <span asp-validation-for="ReceiptDate"></span>
        </div>
        <div><input id="create" type="submit" value="Create" class="btn-primary" /></div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/productManager.js"></script>
}